<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81323692681-259nvrgqb1gpi3p300t211jsjr06ggti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81323692681-259nvrgqb1gpi3p300t211jsjr06ggti</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJv8JBRltFRINjPxqKewX8WsKNtuXXlg</string>
	<key>GCM_SENDER_ID</key>
	<string>81323692681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.o1298098.boxes</string>
	<key>PROJECT_ID</key>
	<string>boxes-5536a</string>
	<key>STORAGE_BUCKET</key>
	<string>boxes-5536a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81323692681:ios:f37ff4910b4a374f3fac58</string>
</dict>
</plist>